<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.twoyum.login.mapper.YourCertificateMapper" >
  <insert id="addYourCertificate" parameterType="com.twoyum.login.domain.UserInDto">
        insert t_your_certificate(email,create_time)
        values(#{email},current_timestamp())
  </insert>
</mapper>